@media (max-width:575px) {
    .dropdown-menu[x-placement^=left]{
        transform: translate(-77px, 41px) !important;
        left: initial !important;
        right: 0;
    }
}
.dropdown-menu[x-placement^=right]{
    left: initial !important;
    // left: 0;
    transform: translate(21px, 41px) !important;
}
.dropleft .dropdown-toggle::before{
    margin-right: 0 !important;
    margin-left: 0.255em !important;
}