::ng-deep{
    text{
        fill: #eee !important;
    }

@media (max-width:480px) {
    svg:nth-last-child(3){
        overflow: visible !important;
        transform: translate(-50px , -10px);
    }
}
@media (max-width:350px) {
    svg:nth-last-child(3){
        overflow: visible !important;
        transform: translate(-20px , -10px);
    }
}

    .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title,
    .apexcharts-tooltip.apexcharts-theme-light{
        background-color: #1f2940 !important;
    }

    .chartjs-wrapper-demo{
        height: auto!important;
        width: auto!important;
    }
    .apexcharts-toolbar{
        z-index: 7 !important;
    }

    .apexcharts-menu{
        background: #1f2940 !important;
    }
    .apexcharts-theme-light .apexcharts-menu-item:hover{
        background-color: gray !important;
    }
}