/* ###### 4.9 Perfect Scrollbar ###### */

.ps {
  overflow: hidden;

  > .ps__rail-y {
    width: 10px;
    // background-color:$white-5;
    z-index: 10;
    position: absolute;
    right: auto !important;
    left: 0;
    // opacity: 0;
    transition: opacity 0.2s;

    > .ps__thumb-y {
      position: absolute;
      border-radius: 0;
      width: 8px;
      right: 4px;
      // background-color: $gray-500;
    }
  }

  &.ps--active-y {
    &:hover > .ps__rail-y, &:focus > .ps__rail-y {
      opacity: 0 !important;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .ps > .ps__rail-y {
    transition: none;
  }
}

.app.sidebar-mini.sidenav-toggled-open .ps > .ps__rail-y > .ps__thumb-y{
  background-color: rgb(97, 94, 94) !important;
}
.ps__rail-y:hover > .ps__thumb-y,.ps__rail-y:focus > .ps__thumb-y,.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 8px;
}
.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y{
  display: block !important;
}