::ng-deep{
    .main-header-right .dropdown-toggle::after{
        display: none !important;
    }
    @media (max-width: 768px){
        .main-body.app.sidebar-mini .main-header form[role=search].active input {
            padding-left: 20px !important;
            width: 96% !important;
        }
    }
}

@media (max-width: 480px){
    .main-header-right .nav .nav-item .dropdown-menu {
        left: 5px !important;
        right: 5px !important;
        position: fixed !important;
        transform: translate(0,65px) !important;
    }
}

.main-profile-menu .dropdown-menu{
    transform: translate(-200px, 54px) !important;
}

@media (min-width:320px) and (max-width:328px) {
    .nav-link#bs-example-navbar-collapse-1{
        padding: 0.6rem 0rem !important;
    }
}